<html>
<style>
    h1 {
        color: blue;
        text-align: center;
    }
    p {

       text-ident: 10px;
       letter-spacing: 2px


    }
</style>
<head>
    <title>Title</title>
</head>
<body>
<h1 >
    H1
</h1>
<h2>
    H2
</h2>

<h3>
    H3
</h3>
<p >
   Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.

</p>
<a href="https://www.google.jo/">this is google</a>
<img src="a.png" alt="a" width="100" height="100"/>
<table border="1px" width="100%" bgcolor="#66B2FF" >
    <tr>
        <th>
            cell 1
        </th>
        <th>
            cell2
        </th>
    </tr>

    <tr>
         <td >
1
         </td>
        <td >
            2
        </td>
    </tr>
     <tr>
         <td>
12
         </td>
        <td>
            21
        </td>
    </tr>
     <tr>
         <td>
            12
         </td>
        <td>
            23
        </td>
    </tr>

</table>
</body>
</html>